body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
}
#scrolly {
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
#scrolly-text {
  width: 33%;
  padding: 2rem;
}
.step {
  margin: 0 0 60vh 0;
  padding: 20px;
  font-size: 1.1rem;
  opacity: 0.4;
}
.step.is-active {
  border-left: 4px solid #444;
  opacity: 1;
}
#scrolly-graphic {
  position: sticky;
  top: 0;
  width: 67%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chart {
  width: 100%;
  height: 100%;
}
body.noscroll {
    overflow: hidden;
    height: 100vh;
  }
